<div id="global_header">
    <div class="content">
        <div class="logo">
			<span id="logo_holder">
									<a href="#">
                                        <img src="../../static/images/globalheader_logo.png" width="176" height="44">
                                    </a>
							</span>
            <!--[if lt IE 7]>
            <style type="text/css">
                #logo_holder img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
                #logo_holder { display: inline-block; width: 176px; height: 44px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/globalheader_logo(1).png'); }
            </style>
            <![endif]-->
        </div>

        <div class="supernav_container">
            <a class="menuitem supernav" href="http://store.steampowered.com/" data-tooltip-type="selector" data-tooltip-content=".submenu_store">
                商店	</a>
            <div class="submenu_store" style="display: none;" data-submenuid="store">
                <a class="submenuitem" href="http://steamcommunity.com/my/wishlist/">愿望单</a>
            </div>

            <a class="menuitem" href="http://store.steampowered.com/about/">
                关于		</a>
        </div>
        <script type="text/javascript">
            jQuery(function($) {
                $('.tooltip').v_tooltip();
                $('#global_header .supernav').v_tooltip({'location':'bottom', 'destroyWhenDone': false, 'tooltipClass': 'supernav_content', 'offsetY':-4, 'offsetX': 1, 'horizontalSnap': 4, 'tooltipParent': '#global_header .supernav_container', 'correctForScreenSize': false});
            });
        </script>

        <div id="global_actions">
            <div id="global_action_menu">
                <a class="global_action_link" href="https://store.steampowered.com//login/?redir=login%2F%3Fredir%3D&redir_ssl=1">登录</a>
                &nbsp;|&nbsp;
                <a class="global_action_link" href="https://store.steampowered.com//login/?redir=login%2F%3Fredir%3D&redir_ssl=1">注册</a>
            </div>
        </div>
    </div>
</div>